#blocks {
    display: flex;
    justify-content: center;
    align-items: center;

    //incluir imagem com background
    .container {
        width: 960px;
        display: flex;
        .bloco {
            width: 400px;
            height: 280px;
            display: flex;

            .content {
                display: flex;
 
                .cont {
                    display: flex;
                    align-self: center;
                    flex-direction: column;

                    h2 {
                        font-size: 24px;
                        color: #212353;
                        line-height: 130%;
                    }
                    
                    p {
                        font-size: 15px;
                        color: #4B5D68;
                        line-height: 160%;
                        margin: 10px 0;
                    }
                   

                    .button {
                        display: flex;
                        align-items: center;
                        
                        
                    }
                }
            }
         
        }
    }
}
