header {
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        width: 960px;
        display: flex;

        .navbar {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            .logo-nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 50%;

                ul {
                    display: flex;
                }

                li {
                    padding: 23px;
                }
                li #active {
                    color: $two;
                    font-weight: 500;
                }
                a {
                    color: $one;
                }
            }

            .button {
                width: 210px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #ffffff;
                box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
                border-radius: 50px;
                a {
                    display: flex;

                    color: $two;
                    font-weight: 500;
                    img {
                        margin-left: 12px;
                    }
                }
            }
        }
    }
}
