* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #E5E5E5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

header .container .navbar .logo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

header .container .navbar .logo-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .navbar .logo-nav li {
  padding: 23px;
}

header .container .navbar .logo-nav li #active {
  color: #212353;
  font-weight: 500;
}

header .container .navbar .logo-nav a {
  color: #4B5D68;
}

header .container .navbar .button {
  width: 210px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

header .container .navbar .button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #212353;
  font-weight: 500;
}

header .container .navbar .button a img {
  margin-left: 12px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 78.1vh;
}

main .container {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .container h1 {
  width: 645px;
  font-size: 80px;
  line-height: 110%;
  color: #212353;
}

main .container p {
  margin: 30px 0;
  width: 380px;
  color: #4B5D68;
  line-height: 160%;
}

main .container .button {
  width: 170px;
  height: 60px;
  background: #9c69e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
}

main .container .button a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
}

#features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#features .container {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#features .container .content {
  width: 100%;
  height: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}

#features .container .content #content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#features .container .content #content h2 {
  color: #212353;
  width: 475px;
  font-size: 48px;
  line-height: 130%;
  margin-bottom: 20px;
}

#features .container .content #content p {
  color: #4B5D68;
  width: 424px;
  font-size: 18px;
  line-height: 160%;
}

#features .container .feat {
  margin-top: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#features .container .feat h2 {
  color: #212353;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 30px;
}

#features .container .feat p {
  color: #4B5D68;
  width: 584px;
  line-height: 160%;
  text-align: center;
}

#blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blocks .blocs {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#blocks .container {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#blocks .container .bloco {
  width: 400px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 60px;
}

#blocks .container .bloco .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: absolute;
}

#blocks .container .bloco .content img {
  height: 100%;
  margin-top: auto;
  margin-left: -60px;
  margin-right: 6px;
}

#blocks .container .bloco .content .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#blocks .container .bloco .content .cont h3 {
  font-size: 24px;
  color: #212353;
  line-height: 130%;
}

#blocks .container .bloco .content .cont p {
  font-size: 13px;
  color: #4b5d68;
  line-height: 160%;
  margin: 10px 27px 10px 0;
}

#blocks .container .bloco .content .cont .button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#blocks .container .bloco .content .cont .button a img {
  margin-left: 10px;
}

#test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
}

#test .container {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#test .container .testimonials {
  width: 1118px;
  height: 709px;
  background: #9c69e2;
  border-radius: 50px;
}

#test .container .testimonials h3 {
  margin: 120px 0 80px 0;
}

#test .container .testimonials .testemunhas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 80px;
}

#test .container .testimonials .testemunhas .primeiro {
  width: 945px;
  height: 330px;
  background-color: #FFF;
}

#test .container .testimonials .testemunhas .testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

#test .container .testimonials .testemunhas .conteudo * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
}

#test .container .testimonials .testemunhas .conteudo > h5 {
  font-size: 18px;
  line-height: 28.8px;
  letter-spacing: 0.5%;
}

#test .container .testimonials .testemunhas .conteudo > span {
  font-size: 14px;
  line-height: 22.4px;
  letter-spacing: 1%;
}

#test .container .testimonials .testemunhas .conteudo p {
  font-size: 18px;
  line-height: 25px;
}
/*# sourceMappingURL=styles.css.map */